/*FLIP ANIMATIONS*/
/*****************/

@keyframes left {
0% {
    transform: perspective(150px) rotateX(0deg) rotateY(0deg);
  } 100% {
    transform: perspective(150px) rotateX(0deg) rotateY(-180deg);
  }
}
@keyframes right {
0% {
    transform: perspective(150px) rotateX(0deg) rotateY(180deg);
  } 100% {
    transform: perspective(150px) rotateX(0deg) rotateY(360deg);
  }
}
@keyframes down {
0% {
    transform: perspective(150px) rotateX(0deg) rotateY(180deg);
  } 100% {
    transform: perspective(150px) rotateX(-180deg) rotateY(180deg);
  }
}
@keyframes up {
0% {
    transform: perspective(150px) rotateX(180deg) rotateY(180deg);
  } 100% {
    transform: perspective(150px) rotateX(360deg) rotateY(180deg);
  }
}

/*COLOR ANIMATIONS*/
/******************/

/*blue2*/
@keyframes blue2red {
    0%   {background-color: rgb(79, 193, 223);}
    49.9% {background-color: rgb(79, 193, 223);}
    50.1% {background-color: rgb(229, 51, 127);}
    100% {background-color: rgb(229, 51, 127);}
}
@keyframes blue2orange {
    0%   {background-color: rgb(79, 193, 223);}
    49.9% {background-color: rgb(79, 193, 223);}
    50.1% {background-color: rgb(250, 184, 35);}
    100% {background-color: rgb(250, 184, 35);}
}
@keyframes blue2green {
    0%   {background-color: rgb(79, 193, 223);}
    49.9% {background-color: rgb(79, 193, 223);}
    50.1% {background-color: rgb(21, 179, 171);}
    100% {background-color: rgb(21, 179, 171);}
}
@keyframes blue2white {
    0%   {background-color: rgb(79, 193, 223);}
    49.9% {background-color: rgb(79, 193, 223);}
    50.1% {background-color: rgb(200, 200, 200);}
    100% {background-color: rgb(200, 200, 200);}
}
/*red2*/
@keyframes red2blue {
    0%   {background-color: rgb(229, 51, 127);}
    49.9% {background-color: rgb(229, 51, 127);}
    50.1% {background-color: rgb(79, 193, 223);}
    100% {background-color: rgb(79, 193, 223);}
}

@keyframes red2orange {
    0%   {background-color: rgb(229, 51, 127);}
    49.9% {background-color: rgb(229, 51, 127);}
    50.1% {background-color: rgb(250, 184, 35);}
    100% {background-color: rgb(250, 184, 35);}
}
@keyframes red2green {
    0%   {background-color: rgb(229, 51, 127);}
    49.9% {background-color: rgb(229, 51, 127);}
    50.1% {background-color: rgb(21, 179, 171);}
    100% {background-color: rgb(21, 179, 171);}
}
@keyframes red2white {
    0%   {background-color: rgb(229, 51, 127);}
    49.9% {background-color: rgb(229, 51, 127);}
    50.1% {background-color: rgb(200, 200, 200);}
    100% {background-color: rgb(200, 200, 200);}
}
/*orange2*/
@keyframes orange2blue {
    0%   {background-color: rgb(250, 184, 35);}
    49.9% {background-color: rgb(250, 184, 35);}
    50.1% {background-color: rgb(79, 193, 223);}
    100% {background-color: rgb(79, 193, 223);}
}
@keyframes orange2red {
    0%   {background-color: rgb(250, 184, 35);}
    49.9% {background-color: rgb(250, 184, 35);}
    50.1% {background-color: rgb(229, 51, 127);}
    100% {background-color: rgb(229, 51, 127);}
}
@keyframes orange2green {
    0%   {background-color: rgb(250, 184, 35);}
    49.9% {background-color: rgb(250, 184, 35);}
    50.1% {background-color: rgb(21, 179, 171);}
    100% {background-color: rgb(21, 179, 171);}
}
@keyframes orange2white {
    0%   {background-color: rgb(250, 184, 35);}
    49.9% {background-color: rgb(250, 184, 35);}
    50.1% {background-color: rgb(200, 200, 200);}
    100% {background-color: rgb(200, 200, 200);}
}
/*green2*/
@keyframes green2blue {
    0%   {background-color: rgb(21, 179, 171);}
    49.9% {background-color: rgb(21, 179, 171);}
    50.1% {background-color: rgb(79, 193, 223);}
    100% {background-color: rgb(79, 193, 223);}
}
@keyframes green2red {
    0%   {background-color: rgb(21, 179, 171);}
    49.9% {background-color: rgb(21, 179, 171);}
    50.1% {background-color: rgb(229, 51, 127);}
    100% {background-color: rgb(229, 51, 127);}
}
@keyframes green2orange {
    0%   {background-color: rgb(21, 179, 171);}
    49.9% {background-color: rgb(21, 179, 171);}
    50.1% {background-color: rgb(250, 184, 35);}
    100% {background-color: rgb(250, 184, 35);}
}
@keyframes green2white {
    0%   {background-color: rgb(21, 179, 171);}
    49.9% {background-color: rgb(21, 179, 171);}
    50.1% {background-color: rgb(200, 200, 200);}
    100% {background-color: rgb(200, 200, 200);}
}
/*white2*/
@keyframes white2blue {
    0%   {background-color: rgb(200, 200, 200);}
    49.9% {background-color: rgb(200, 200, 200);}
    50.1% {background-color: rgb(79, 193, 223);}
    100% {background-color: rgb(79, 193, 223);}
}
@keyframes white2red {
    0%   {background-color: rgb(200, 200, 200);}
    49.9% {background-color: rgb(200, 200, 200);}
    50.1% {background-color: rgb(229, 51, 127);}
    100% {background-color: rgb(229, 51, 127);}
}
@keyframes white2orange {
    0%   {background-color: rgb(200, 200, 200);}
    49.9% {background-color: rgb(200, 200, 200);}
    50.1% {background-color: rgb(250, 184, 35);}
    100% {background-color: rgb(250, 184, 35);}
}
@keyframes white2green {
    0%   {background-color: rgb(200, 200, 200);}
    49.9% {background-color: rgb(200, 200, 200);}
    50.1% {background-color: rgb(21, 179, 171);}
    100% {background-color: rgb(21, 179, 171);}
}
