<html>
  <head>
    <title>Squares</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <img id ="logo" src="/img/logo.svg"/>
    <div class="form-style-8">
      <h2>Your match is ready!</h2>
      <p>Invite up to three friends to play with you.</p>
      <p>Your match ID is: <b>{{ matchId }}</b></p>
      <form>
        <input id="startMatchBtn" type="button" value="Start match!"/>
      </form>
    </div>
  </body>
  <script>
  var playerInfo = {matchId: '{{matchId}}',
    playerName: '{{playerName}}'};
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
  <script src="/js/createMatch.js"></script>
</html>
