<html>
  <head>
    <title>{{ title }}</title>
    <style>
      #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      .centerTextBox{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    </style>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <body>
    <img id ="logo" src="/img/logo02.svg"/>
    <div class="centerTextBox">Your match is ready. Invite three friends to play with you by telling them your match id.
    <h2>{{ matchID }}</h2>
    You can start the match after all three players has joined your match.
    <br/><br/>
    <button id="startMatchBtn">Start Match</button></div>
    <script>

    var createMatchSockets = io.connect('/createMatchSockets');

    createMatchSockets.on('connect', function () {
      createMatchSockets.emit('connectionInfo', '{{matchID}}');

      createMatchSockets.on('match ready', function(){
        alert("Your match is ready");
        $('#startMatchBtn').click(function(){
          window.location.replace('/match/' + '{{matchID}}' + '/{{playerName}}');
        })
      });
      createMatchSockets.on('error', function(message){
        if(message==='matchNotFound'){
          alert('There was a issue with your match. Please create a new one.');
        }
        else if(message==='matchCreatorNotFound'){
          alert('There was a issue with your match. Please create a new one.');
        }
        else{
          alert('There was a issue with your match. Please create a new one.');
        };
      });
    });

    </script>
  </body>
</html>
