<!doctype html>
<html>
  <head>
    <title>Squares</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <img id ="logo" src="/img/logo.svg"/>

    <div class="form-style-8">
      <h2>Create a new match.</h2>
      <form>
        <div id="cPlayerName_invalidCharTooltip" class="negative_tooltip">Please avoid using special characters.</div>
        <input id="cPlayerName" type="text" name="field1" autocomplete="off" placeholder="Name" maxlength="12">
        <input id="createMatchButton" type="button" value="GO!" />
      </form>
    </div>

    <div class="form-style-8">
      <h2>Join a match.</h2>
      <form>
        <div id="matchId_existingId" class="positive_tooltip">Valid match ID.</div>
        <div id="jPlayerName_invalidCharTooltip" class="negative_tooltip">Please avoid using special characters.</div>
        <div id="matchId_nonExistingId" class="negative_tooltip">No match with the given ID was found.</div>
        <div id="matchId_tooShortId" class="negative_tooltip">A match ID must be 5 characters long.</div>
        <input id="jPlayerName" type="text" name="field1" autocomplete="off" placeholder="Name" maxlength="12">
        <input id="matchId" type="text" name="field2" autocomplete="off" placeholder="Match ID" maxlength="5">
        <input id="joinMatchButton" type="button" value="GO!" />
      </form>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
  function createMatch(){
    var redirect = '/createMatch/' + $('#cPlayerName').val();;
    window.location.assign(redirect);
    return false;
  }
  $('#createMatchButton').click(function(){
    return createMatch();
  });
  $('#cPlayerName').keyup(function(event){
    if(event.keyCode===13){
      return createMatch();
    }
    else{
      checkSpecialChars('#cPlayerName');
    }
  });

  function joinMatch(){
    var redirect = '/match/f/' + $('#matchId').val() + '/' + $('#jPlayerName').val();
    window.location.assign(redirect);
    return false;
  }
  $('#joinMatchButton').click(function(){
    return joinMatch();
  });
  $('#matchId').keydown(function(event){
    if(event.keyCode===13){
      return joinMatch();
    }
  });
  $('#jPlayerName').keyup(function(event){
    if(event.keyCode===13){
      return joinMatch();
    }
    else{
      checkSpecialChars('#jPlayerName');
    }
  });
  $('#matchId').keyup(function(event){
    var inputVal = $('#matchId').val();
    if(inputVal.length === 5){
      $.get('/checkMatchId/' + $('#matchId').val(), function(data) {
        if(data.matchStatus==='notFound'){
          $('#matchId_nonExistingId').css('visibility', 'visible');
          $('#matchId_tooShortId').css('visibility', 'hidden');
          $('#matchId_existingId').css('visibility', 'hidden');
        }
        else{
          $('#matchId_existingId').css('visibility', 'visible');
          $('#matchId_nonExistingId').css('visibility', 'hidden');
          $('#matchId_tooShortId').css('visibility', 'hidden');
        }
      });
    }
    else if (0 < inputVal.length && inputVal.length < 5){
      $('#matchId_tooShortId').css('visibility', 'visible');
      $('#matchId_nonExistingId').css('visibility', 'hidden');
      $('#matchId_existingId').css('visibility', 'hidden');
    }
    else {
      $('#matchId_nonExistingId').css('visibility', 'hidden');
      $('#matchId_tooShortId').css('visibility', 'hidden');
      $('#matchId_existingId').css('visibility', 'hidden');
    }
  });

  function checkSpecialChars(selector){
    var tooltipSelector = selector + '_invalidCharTooltip';
    var str = $(selector).val();
    if(/^[a-zA-Z0-9- ]*$/.test(str) == false) {
      $(tooltipSelector).css('visibility', 'visible');
    }
    else {
      $(tooltipSelector).css('visibility', 'hidden');
    }
  }


  </script>
</html>
