<!doctype html>
<html>
  <head>
    <title>Squares</title>
    <style>
      #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
      }

      form {
        text-align: center;
        margin-top, margin-bottom: 2%;
      }
    </style>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <body>
    <img id="logo" src="/img/logo01.svg"/>
    <form id="createMatchForm" action="">
      <input id="cPlayerName" autocomplete="off" value="Your Name">
      <br/>
      <input type="submit" value="CreateMatch Match">
    </form>
    <br/>
    <br/>
    <form id="joinMatchForm" action="">
      <input id="jPlayerName" autocomplete="off" value="Your Name">
      <br/>
      <input id="matchID" autocomplete="off" value="Match ID">
      <br/>
      <input type="submit" value="Join Match">
    </form>
  </body>
  <script>
  $('#createMatchForm').submit(function(){
    $.post('/nameCheck',{playerName: $('#cPlayerName').val()},function(data, status){
      if(status='success'){
        window.location.replace('/createMatch/' + data);
      }
      else{
        alert('Something went wrong :(')
      }
    });
  });

  $('#joinMatchForm').submit(function(){
    $.ajax({
      type: "POST",
      url: '/joinMatch',
      data: {playerName: $('#jPlayerName').val(), matchID: $('#matchID').val()},
      success: function(data, status){
        if(status='success'){
          window.location.replace('/match/' + data.matchID + '/' + data.playerName);
        }
      },
      error: function(jqXHR,error, errorThrown) {
       if(jqXHR.status&&jqXHR.status==418){
          var res = jQuery.parseJSON(jqXHR.responseText);
          if(res.error==='nameAlreadyInUse'){
            alert('Please choose another name, this one is already in use.');
          }
          else if(res.error==='matchNotFound'){
            alert('We could not find a match for the given ID.');
          }
          else if(res.error==='matchIsFull'){
            alert('It seems the match you wanted to join is already full.');
          }
          else{
            alert('There was a unknown issue - please try again.');
          };
       }
       else{
           alert('There was a unknown issue - please try again.');
       }
      }
    });
  return false;
  });
  </script>
</html>
