<!doctype html>
<html>
  <head>
    <title>Squares</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <img id ="logo" src="/img/logo.svg"/>

    <div class="form-style-8">
      <h2>Create a new match.</h2>
      <form>
        <div id="cPlayerName_invalidCharTooltip" class="negative_tooltip">Please use alphanumeric characters only.</div>
        <input id="cPlayerName" type="text" name="field1" autocomplete="off" placeholder="Name" maxlength="12">
        <input id="createMatchButton" type="button" value="GO!" />
      </form>
    </div>

    <div class="form-style-8">
      <h2>Join a match.</h2>
      <form>
        <div id="jPlayerName_invalidCharTooltip" class="negative_tooltip">Please use alphanumeric characters only.</div>
        <input id="jPlayerName" type="text" name="field1" autocomplete="off" placeholder="Name" maxlength="12">
        <input id="matchId" type="text" name="field2" autocomplete="off" placeholder="Match ID" maxlength="5">
        <input id="joinMatchButton" type="button" value="GO!" />
      </form>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
  function createMatch(){
    var redirect = '/createMatch/' + $('#cPlayerName').val();
    window.location.assign(redirect);
    return false;
  }
  function joinMatch(){
    var redirect = '/match/f/' + $('#matchId').val() + '/' + $('#jPlayerName').val();
    window.location.assign(redirect);
    return false;
  }

  function checkSpecialChars(selector){
    var tooltipSelector = selector + '_invalidCharTooltip';
    var str = $(selector).val();
    if(/[^a-zA-Z0-9]/g.test(str)) {
      $(tooltipSelector).css('visibility', 'visible');
    }
    else {
      $(tooltipSelector).css('visibility', 'hidden');
    }
  }

  // CreateMatch Events
  $('#createMatchButton').click(function(){
    return createMatch();
  });
  $('#cPlayerName').keydown(function(event){
    if(event.keyCode===13){
      return createMatch();
    }
    else{
      checkSpecialChars('#cPlayerName');
    }
  });

  // JoinMatch Events
  $('#joinMatchButton').click(function(){
    return joinMatch();
  });
  $('#matchId').keydown(function(event){
    if(event.keyCode===13){
      return joinMatch();
    }
  });
  $('#jPlayerName').keyup(function(event){
    if(event.keyCode===13){
      return joinMatch();
    }
    else{
      checkSpecialChars('#jPlayerName');
    }
  });
  </script>
</html>
