<!doctype html>
<html>
  <head>
    <title>Squares</title>
    <style>
    #logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    </style>
  </head>
  <body>
    <img id="logo" src="/img/logo.svg"/>

    <div id="infoDiv" class="form-style-8 no-bottom-padding">
      <h2>Waiting for the host to start the match...</h2>
      <ul id="connectionList"></ul>
    </div>

    <div id=board></div>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/match.css">
    <script>
    var playerInfo = {matchId: '{{matchId}}',
              playerName: '{{playerName}}'};
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
    <script src="/js/match.js"></script>
    <link rel="stylesheet" href="/css/squareAnimation.css">
  </body>
</html>
